:root {
    --color-accent: oklch(55% 90% 5);
    accent-color: var(--color-accent);
  }
body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 5ch;
    accent-color: var(--color-accent);
  }
  nav {
    --border-color: oklch(80% 3% 200/40%);
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
  }
  a {
    flex: 1;
    text-decoration: none;
    color:inherit;
    text-align: center;
    padding: 0.5em;
    margin-bottom: 1ch;
  }
  nav a:hover {
    text-decoration: underline;
    border-bottom: 2px solid var(--color-accent);
    background-color: color-mix(in oklch,  var(--color-accent), canvas 85%);
    margin-bottom: 0ch;
  }
  a.current {
    border-bottom-width: .4em;
    border-bottom-style: solid;
    border-bottom-color: oklch(40% 40% 600);
    margin-bottom: 0ch;
  }
  .projects {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  }
  .projects article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
    margin: 0; 
  }
  
  h1 {
    font-size: 400%;
  }
  .color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
    font-family: inherit;
    background: none;
    color: inherit;
  }
  
  .color-scheme select {
    font-family: inherit;
    font-size: 100%;
    background: canvas;
    color: canvastext;
    border: 1px solid var(--border-color, currentColor);
    border-radius: 4px;
    padding: 0.25rem;
  }
  #projects-pie-plot {
    max-width: 20em;
    margin-block: 2em;
  
    overflow: visible;
  }
  .legend {
    flex:1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    gap: 0.5rem 1rem;
    list-style: none;
    padding: 1rem;
    margin: 0;
    border: 1px solid #ccc;
    background: #fff;
  }

  .legend-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .swatch {
    width: 1rem;
    height: 1rem;
    aspect-ratio: 1 / 1;
    display: inline-block;
    background: var(--color);
    border-radius: 3px;
  }
  .container {
    display: flex;
    align-items: center; /* vertical alignment */
    gap: 2rem;
    max-width: 800px;
    width: 100%;
  }
  &:has(path:hover) {
    path:not(:hover) {
      opacity: 0.5;
    }
  }
  path {
    transition: 300ms;
    cursor: pointer;
  }
  .selected {
    --color: oklch(60% 45% 0) !important;
  }
  .selected:is(path) {
    fill: var(--color);
  }
  .selected:is(li) {
    font-weight: bold;
    background-color: #eee;
  }