:root {
    --color-accent: oklch(55% 90% 5);
    accent-color: var(--color-accent);
  }
body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 5ch;
    accent-color: var(--color-accent);
  }
nav {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
  }
  a {
    flex: 1;
    text-decoration: none;
    color:inherit;
    text-align: center;
    padding: 0.5em;
    margin-bottom: 1ch;
  }
  a.current {
    border-bottom-width: .4em;
    border-bottom-style: solid;
    border-bottom-color: oklch(40% 40% 600);
    margin-bottom: 0ch;
  }
  nav a:hover {
    text-decoration: underline;
    border-bottom: 2px solid var(--color-accent);
    margin-bottom: 0;
  }
  form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
  }
  label,button {
    grid-column: 1 / -1;
  }
  label {
    display: grid;
    grid-template-columns: subgrid;
  }